article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* End of setup styles */
@keyframes pulse {
  0% {
    color: white;
  }
  50% {
    color: #444444;
  }
  100% {
    color: white;
  }
}

body {
  font-family: 'Lato', sans-serif;
  background: url(../images/circlebackground3.jpg) repeat;
  color: white;
}

h1 {
  font-weight: 400;
  letter-spacing: 7px;
}

h1:hover {
  animation: pulse 4s infinite;
}

#onthe {
  font-size: 80px;
}

#pulse {
  letter-spacing: 26px;
}

h2 {
  font-weight: 300;
  letter-spacing: 1px;
}

h1.initial {
  font-size: 130px;
}

h1.post {
  font-size: 80px;
}

h2 {
  font-size: 40px;
  display: none;
}

h3 {
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 20px;
}

h4 {
  margin: 40px 0 20px 0;
  font-size: 16px;
}

.header {
  background: black;
}

.btnContainer {
  height: 35px;
}

.headerBtn {
  position: relative;
  padding: 20px 20px 9px 20px;
  font-size: 20px;
  color: white;
}

.headerBtn:visited {
  color: white;
}

.headerBtn:active {
  color: white;
}

.headerBtn:hover {
  color: white;
}

.infoBtn {
  left: 35%;
}

.refreshBtn {
  left: 35%;
}

.info {
  display: none;
  background: white;
  color: black;
}

.info p {
  padding: 15px;
}

#menu * {
  padding: 0;
  margin: 0;
  font: 12px;
  list-style-type: none;
}

#menu {
  position: relative;
  margin: 0 auto;
  line-height: 10px;
  display: inline-block;
}

#menu a {
  display: block;
  text-decoration: none;
}

.city a {
  color: black;
}

.chooseCity {
  color: white;
}

#menu a:hover, a:focus {
  background: #212121;
  color: white;
}

#menu ul li ul li a:hover, a:focus {
  background: black;
  color: white;
  padding-left: 9px;
  border-left: solid 1px #000;
}

#menu ul li ul li {
  width: 140px;
  border: none;
  color: black;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
  background: white;
}

#menu ul li ul li a {
  font: 11px arial;
  font-weight: normal;
  font-variant: small-caps;
  padding-top: 3px;
  padding-bottom: 3px;
}

#menu ul li {
  float: left;
  width: 146px;
  font-weight: bold;
  border-top: solid 1px #292929;
  border-bottom: solid 1px #292929;
  background: black;
}

#menu ul li a {
  font-weight: bold;
  padding: 15px 10px;
}

#menu li {
  position: relative;
  float: left;
}

#menu ul li ul, #menu:hover ul li ul, #menu:hover ul li:hover ul li ul {
  display: none;
  list-style-type: none;
  width: 140px;
}

#menu ul li ul, #menu:focus ul li ul, #menu:focus ul li:focus ul li ul {
  display: none;
  list-style-type: none;
  width: 140px;
}

#menu:hover ul, #menu:hover ul li:hover ul, #menu:hover ul li:hover ul li:hover ul {
  display: block;
}

#menu:hover ul, #menu:focus ul li:focus ul, #menu:focus ul li:hover ul li:focus ul {
  display: block;
}

#menu:hover ul li:hover ul li:hover ul {
  position: absolute;
  margin-left: 145px;
  margin-top: -22px;
  font: 10px;
}

#menu:focus ul li:focus ul li:focus ul {
  position: absolute;
  margin-left: 145px;
  margin-top: -22px;
  font: 10px;
}

#menu:hover ul li:hover ul {
  position: absolute;
  margin-top: 1px;
  font: 10px;
  bottom: 100%;
}

#menu:focus ul li:focus ul {
  position: absolute;
  margin-top: 1px;
  font: 10px;
  bottom: 100%;
}

.header-title {
  font-size: 30px;
}

.city-name {
  font-size: 80px;
}

.responseContainer {
  display: none;
}

.googleContainer {
  display: none;
  margin: 20px 0;
}

.trend h3 {
  border-top: solid 1px #292929;
  border-bottom: solid 1px #292929;
  border-radius: 5px;
  background: black;
  padding: 5px;
  width: 300px;
  display: inline-block;
  margin: 20px auto;
}

.googleSearch {
  color: white;
  text-decoration: none;
  background: black;
  font-size: 16px;
  padding: 3px 10px;
  border-top: solid 1px #292929;
  border-bottom: solid 1px #292929;
  font-weight: 300;
  margin-bottom: 10px;
}

.googleSearch:hover {
  background: black;
  color: white;
  text-decoration: none;
}

.googleSearch:active {
  color: white;
  text-decoration: none;
}
