@import 'setup';


// --------- Keyframe animations --------
@keyframes pulse{
	0%   { color: white; }
	50% {color: #444444}
	100% { color: white; }
}



// -------
body {
   	font-family: 'Lato', sans-serif;
   	background: url(../images/background.jpg);
   	color: white;
   }

h1 {
	font-weight: 400;
    letter-spacing: 7px;
	&:hover {
		animation: pulse 4s infinite;
	}
}
h2 {
	font-weight: 300;
    letter-spacing: 1px;
}
h1.initial {
	font-size: 130px;
}
h1.post {
	font-size: 80px;
}
h2 {
	font-size: 40px;
	// padding: 25px 0;
	display: none;
}
h3 {
	font-weight: 300;
    letter-spacing: 1px;
}

h4 {
	margin: 40px 0 20px 0;
}

// --------- Drop down header style -----------
.btnContainer {
	background: black;
	height: 35px;
}
.headerBtn{
    position: relative;
    padding: 20px 20px 9px 20px;
    font-size: 20px;
    color: white;
    &:visited{
        color: white;
    }
    &:active{
        color: white;
    }
    &:hover{
        color: white;
    }
}
.infoBtn {
	left: 40%;
}
.refreshBtn {
    left: 38%;
}
.info {
	display: none;
	background: white;
	color: black;
		p {
			padding: 15px;
		}
}




// ------ City Menu Styles --------
#menu * { 
    padding:0; 
    margin: 0; 
    font: 12px; 
    list-style-type:none;}
#menu { 
	position: relative;
    margin: 0 auto;
    line-height: 10px; 
    display: inline-block;
}
#menu a { 
    display: block; 
    text-decoration: none; 
}
.city a{
	color: black;
}
.chooseCity {
	color:white;
}
#menu a:hover, a:focus { 
	background: #212121;
	color: white;
}
#menu ul li ul li a:hover, a:focus { 
    background: black; 
    color: white;
    padding-left:9px;
    border-left: solid 1px #000;
}
#menu ul li ul li {
    width: 140px; 
    border: none; 
    color: black;  
    padding-top: 3px; 
    padding-bottom:3px; 
    padding-left: 3px; 
    padding-right: 3px; 
    background: white;
}
#menu ul li ul li a { 
    font: 11px arial; 
    font-weight:normal; 
    font-variant: small-caps; 
    padding-top:3px; 
    padding-bottom:3px;
}
#menu ul li {
    float: left; 
    width: 146px; 
    font-weight: bold; 
    border-top: solid 1px #292929; 
    border-bottom: solid 1px #292929; 
    background: black;
}
#menu ul li a { 
    font-weight: bold;
    padding: 15px 10px;
}
#menu li{ 
    position:relative; 
    float:left;
}
#menu ul li ul, #menu:hover ul li ul, #menu:hover ul li:hover ul li ul{ 
    display:none;
    list-style-type:none; 
    width: 140px;
}
#menu ul li ul, #menu:focus ul li ul, #menu:focus ul li:focus ul li ul{ 
    display:none;
    list-style-type:none; 
    width: 140px;
}
#menu:hover ul, #menu:hover ul li:hover ul, #menu:hover ul li:hover ul li:hover ul { 
    display:block;
}
#menu:hover ul, #menu:focus ul li:focus ul, #menu:focus ul li:hover ul li:focus ul { 
    display:block;
}
#menu:hover ul li:hover ul li:hover ul { 
    position: absolute;
    margin-left: 145px;
    margin-top: -22px;
    font: 10px;
}
#menu:focus ul li:focus ul li:focus ul { 
    position: absolute;
    margin-left: 145px;
    margin-top: -22px;
    font: 10px;
}
#menu:hover ul li:hover ul { 
    position: absolute;
    margin-top: 1px;
    font: 10px;
    bottom:100%;
}
#menu:focus ul li:focus ul { 
    position: absolute;
    margin-top: 1px;
    font: 10px;
    bottom:100%;
}


// --------- Response Styles -------------
.responseContainer{
	display: none;
}
.googleContainer {
    display: none;
    margin: 20px 0;
}
.trend h3 {
    border-top: solid 1px #292929;
    border-bottom: solid 1px #292929;
    border-radius: 5px;
    background: black;
    padding: 5px;
    width: 300px;
    display: inline-block;
    margin: 20px auto;
}
.googleSearch {
    color: white;
    text-decoration: none; 
    background: black;
    font-size: 16px;
    padding: 3px 10px;
    border-top: solid 1px #292929;
    border-bottom: solid 1px #292929;
    font-weight: 300;
    margin-bottom: 10px;
    &:hover {
        background: black;
        color: white;
        text-decoration: none; 
    }
    &:active {
        color: white;
        text-decoration: none; 
    }
}















